<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Tick tack toy</title>
    <link rel="stylesheet" href="public/css/styles.css" />
  </head>

  <body>
    <script src="public/js/main.js"></script>
  </body>
</html>
